body{
  width:800px;
  margin:auto;

}

li{
  color:white;
  background-color: blue;
  padding:20px;
  margin:10px;
  border-radius: 5px
}

li:nth-child(2n){
  background-color: orange;
}

.flex{
  display:flex;

}

.container2 {
  justify-content: space-around;
}

.container3{
  background-color: gray;
  height:300px;
  align-items: center;
}

.container4{
  flex-direction:row-reverse;
}

.container5{
  flex-wrap:wrap;
}